body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #333 3px solid;
    margin-top: 30px;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #f1c40f;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 20px;
    border: 2px solid #f1c40f;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 60%;
    /* Adjust width as needed */
}

nav ul li a:hover {
    background-color: #f1c40f;
    color: #fff;
}

.logout-container {
    text-align: center;
    margin-top: 20px;
}

.logout-link {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    margin-top: 140px;
    color: #fff;
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

.logout-link:hover {
    background-color: #333;
    opacity: 0.9;
}